<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find House</title>

        <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/vendors/iconly/bold.css}">
        <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
        <link rel="stylesheet" th:href="@{/vendors/bootstrap-icons/bootstrap-icons.css}">
        <link rel="stylesheet" th:href="@{/css/app.css}">
        <link rel="stylesheet" th:href="@{/css/filepond.css}">
        <link rel="stylesheet" th:href="@{/css/filepond-plugin-image-preview.css}">
        <link rel="stylesheet" th:href="@{/css/custom.css}">
        <link rel="stylesheet" th:href="@{/css/starrr.css}">
        <link rel="shortcut icon" th:href="@{/images/favicon.svg}" type="image/x-icon">
        <link rel="shortcut icon" type="image/png" th:src="@{/images/icons/heart_red.png}"/>


        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/starrr.js}"></script>
        <script th:src="@{/js/main.js}"></script>


        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=546ca95baaee220f9bd82f6ddfd77603&libraries=services"></script>

        <!--
        <link rel="stylesheet" th:href="@{/vendors/rater-js/style.css}">
        <script th:src="@{/js/extensions/rater-js.js}"></script>
        <script th:src="@{/vendors/rater-js/rater-js.js}"></script>
         <script th:src="@{/vendors/apexcharts/apexcharts.js}"></script>
         <script th:src="@{/js/pages/dashboard.js}"></script>
         -->

    </head>

    <body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a th:href="@{/house/}"><img th:src="@{/images/icons/home.png}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item active ">
                            <a th:href="@{/house/}" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>매물 둘러보기</span>
                            </a>
                        </li>

                        <li class="sidebar-item active " sec:authorize="isAuthenticated()">
                            <a th:href="@{/member/join}" class='sidebar-link'>
                                <i class="bi bi-person-badge"></i>
                                <span>회원가입</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <nav class="navbar navbar-expand navbar-light ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent"
                             sec:authorize="isAuthenticated()">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown me-1">
                                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="bi bi-envelope bi-sub fs-4 text-gray-600"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Mail</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">No new mail</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown me-3">
                                    <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        <i class="bi bi-bell bi-sub fs-4 text-gray-600"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Notifications</h6>
                                        </li>
                                        <li><a class="dropdown-item">No notification available</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600"></h6>
                                            <p class="mb-0 text-sm text-gray-600" sec:authentication="name"></p>
                                            <p class="mb-0 text-sm text-gray-600" sec:authentication="principal.name">
                                                님</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">

                                            <div class="avatar avatar-md">
                                                <img th:src="@{/images/faces/1.jpg}">
                                            </div>
                                        </div>
                                    </div>
                                </a>


                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">


                                    <li><a class="dropdown-item" th:href="@{/member/modify(id=${loginUserName})}"><i
                                            class="icon-mid bi bi-person me-2"></i>
                                        My Page</a></li>
                                    <li><a class="dropdown-item" th:href="@{/member/logout}"><i
                                            class="icon-mid bi bi-box-arrow-left me-2"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <h6 class="test" th:value="${user}"></h6>
            <th:block th:replace="${content}">

            </th:block>


            <div class="container-fluid">

            </div>


            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>&copy; Find House</p>
                    </div>
                    <div class="float-end">
                        <p>Project <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">Ji. Suhyun</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</th:block>
</body>

<script>
    $(".myPage").onclick(function (event) {
        console.log('[[${authentication.principal.id}]]');
        console.log(event);
    });

</script>

</html>