<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>FindHouse Join Page</title>
<th:block th:replace="~{/layout/member_basic.html :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <div id="auth">
            <h3 class="auth-title">Member Join</h3>
            <p class="auth-subtitle mb-5">회원가입을 위한
                <code class="highlighter-rouge">정보</code> 를 입력해주세요.</p>

            <form class="form form-vertical form-inline" method="post" action="/member/join" id="inputForm">
                <div class="form-group position-relative mb-4">
                    <label style="font-weight: bold">ID</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control user-info " placeholder="아이디를 입력해주세요."
                               name="id" value="user" id="id">
                        <button class="btn btn-primary" type="button" id="checkId">
                            중복체크
                        </button>
                    </div>
                </div>
                <div class="form-group position-relative  mb-4">
                    <label style="font-weight: bold">PASSWORD</label>
                    <input type="password" class="form-control checkPassword user-info" placeholder="비밀번호를 입력해주세요."
                           name="password" value="1111" id="password">
                </div>
                <div class="form-group position-relative mb-4">
                    <label style="font-weight: bold">PASSWORD CHECK</label>
                    <input type="password" class="form-control checkPassword user-info"
                           placeholder="비밀번호를 다시 입력해주세요."
                           name="passwordCheck" value="1111" id="passwordCheck">
                </div>
                <div class="form-group position-relative mb-4">
                    <label style="font-weight: bold">이름</label>
                    <input type="text" class="form-control user-info extra" placeholder="이름을 입력해주세요."
                           name="name" value="홍길동">
                </div>
                <div class="form-group position-relative mb-4">
                    <label style="font-weight: bold">닉네임</label>
                    <input type="text" class="form-control user-info extra" placeholder="닉네임을 입력해주세요."
                           name="nickName" value="star1">
                </div>
                <div class="form-group position-relative mb-4">
                    <label style="font-weight: bold">생년월일</label>
                    <input type="date" id="birth" class="form-control user-info extra"
                           name="birth">
                </div>
                <div class="form-group position-relative mb-4">
                    <label style="font-weight: bold">연락처</label>
                    <input type="text" class="form-control user-info extra" placeholder="연락처를 입력해주세요."
                           name="contact" value="01024442233">
                </div>


                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-4">Sign Up</button>
            </form>
            <div class="text-center mt-4 text-lg fs-4">
                <p class='text-gray-600'>Already have an account?
                    <a th:href="@{/member/login}" class="font-bold">Log in</a>.</p>
            </div>
        </div>


    </th:block>
</th:block>

<script>

    $(document).ready(function () {

        var checkId = $("#checkId");
        var id = $("#id");
        var password = $("#password");
        var passwordCheck = $("#passwordCheck");
        var inputForm = $("#inputForm");
        var checkPassword = $(".checkPassword");
        var infos = $(".user-info");
        var extra = $(".extra");

        extra.blur(function() {
            if ($(this).val() != "") {
                $(this).data("state", true);
            } else {
                $(this).data("state", false);
            }
        });


        // check Empty and Checks
        inputForm.submit(function (event) {
            infos.each(function (idx, target) {
                if (!checkEmptyValue(target) || !checkState(target)) {
                    event.preventDefault();
                    return false;
                }
            });
            return true;
        });

        function checkState(target){
            var state = $(target).data("state");
            if(!state || state == "") {
                sweetAlert("warning", target.name + "를 다시 입력해주세요.", false, target);
                return false;
            }
            return true;
        }


        function checkEmptyValue(target) {
            var value = $(target).val();
            if (value == "") {
                sweetAlert("warning", target.name + "를 다시 입력해주세요.", false, target);
                return false;
            }
            return true;
        }


        // id check
        checkId.click(function () {
            console.log("chekc id click !!!");
            console.log("id : " + id.val());

            $.ajax({
                url: '/ajax/duplicateCheckId?id=' + id.val(),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {
                    console.log("check id result: " + result);
                    if (result == 'false') {
                        sweetAlert('success', 'this id is available', true, "id");
                        console.log(id);
                        id.data("state", true);
                    } else {
                        sweetAlert('warning', 'this id is not available', false, "id");
                        id.data("state", false);
                    }
                }
            });
        })

        // pw check
        checkPassword.on('input', function () {
            password.val() == passwordCheck.val() ? changePw(true) : changePw(false);
        })

        // sweet alert
        function sweetAlert(icon, title, confirm, target) {
            Swal.fire({
                icon: icon,
                title: title,
                showConfirmButton: confirm,
                showCancelButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel'
            }).then(result => {
                if (target == "id" && result.isDismissed) {
                    id.val('');
                }
            })
        }

        function changePw(result) {
            var add = '';
            var remove = '';
            var pwState = false;
            var pws = checkPassword;

            if (result == true) {
                add = 'is-valid';
                remove = 'is-invalid';
                pwState = true;
            } else {
                add = 'is-invalid';
                remove = 'is-valid';
                pwState = false;
            }

            pws.each(function (idx, target) {
                target.classList.remove(remove);
                target.classList.add(add);;
            })
            password.data("state", pwState);
            passwordCheck.data("state", pwState);

        }
    });

</script>
