<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <h1>test!!!!!!!</h1>

        <div id="main-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Member join</h3>
                            <p>본인이 원하는 매물을 찾아보세요!
                                <code class="highlighter-rouge">필터</code> 를 이용하여 쉽게 찾아보세요.
                            </p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">List</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Layout Vertical Navbar
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Example Content</h4>
                        </div>
                        <div class="card-body">
                            내요오오옹
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </th:block>
</th:block>