<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <div id="main-content">
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>House Register</h3>
                            <p>매물을 등록하세요.</p>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-body">

                            <form class="form form-vertical" method="post" action="/house/register" id="inputForm">
                                <div class="form-body">
                                    <div class="row">

                                        <!-- 수정 필요 -->
                                        <input type="hidden" name="id" value="user200">
                                        <input type="hidden" name="status" value="거래가능">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label style="font-weight: bold">제목</label>
                                                <input type="text" class="form-control" name="title"
                                                       placeholder="제목을 입력해주세요." value="test">
                                            </div>
                                        </div>

                                        <div class="col-10">
                                            <div class="form-group">
                                                <label style="font-weight: bold">주소</label><small class="text-muted"> <code
                                                    class="highlighter-rouge">Tip!</code><i>상세한 주소를 입력해주세요! 다른분들에겐 정확히
                                                표시되지 않습니다!</i></small>
                                                <input type="text" class="form-control" name="address" id="address"
                                                       placeholder="주소를 입력해주세요." value="세종대로 110">
                                                <input type="text" class="form-control" value="상세주소">
                                                <input type="button" class="btn btn-light-secondary me-1 mb-1 rounded-pill" value="search" id="addressSearchBtn">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">면적(㎡)</label>
                                                <input type="text" class="form-control" name="area" placeholder="면적(㎡)"
                                                       value="12.9">
                                            </div>
                                        </div>


                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">유형</label>
                                                <select class="form-select" name="contractType" id="contractType">
                                                    <option value="전세">전세</option>
                                                    <option value="월세">월세</option>
                                                    <option value="선세">선세</option>
                                                    <option value="매매">매매</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">건물유형</label>
                                                <select class="form-select" name="buildingType">
                                                    <option value="원룸">원룸</option>
                                                    <option value="투룸">투룸</option>
                                                    <option value="빌라">빌라</option>
                                                    <option value="오피스텔">오피스텔</option>
                                                    <option value="아파트">아파트</option>
                                                    <option value="단독주택">단독주택</option>
                                                    <option value="기타">기타</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">중개수수료 (만원)</label>
                                                <input type="number" class="form-control" name="brokerage"
                                                       placeholder="(만원)" value="15">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">최소 계약기간 (개월)</label>
                                                <input type="number" class="form-control" name="minTerm"
                                                       placeholder="(개월)" value="6">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">해당 층 수</label>
                                                <input type="number" class="form-control" name="theFloor" placeholder=""
                                                       value="2">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">전체 층 수</label>
                                                <input type="number" class="form-control" name="wholeFloor"
                                                       placeholder="" value="10">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">입주 가능 날짜</label>
                                                <input type="date" id="moveInDate" class="form-control"
                                                       name="moveInDate">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">준공 날짜</label>
                                                <input type="date" id="completionDate" class="form-control"
                                                       name="completionDate">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">방 개수</label>
                                                <input type="number" class="form-control"
                                                       name="structureDto.room" value="1">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">거실 개수</label>
                                                <input type="number" class="form-control"
                                                       name="structureDto.livingRoom" value="1">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">화장실 개수</label>
                                                <input type="number" class="form-control"
                                                       name="structureDto.toilet" value="1">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">베란다 개수</label>
                                                <input type="number" class="form-control"
                                                       name="structureDto.veranda" value="1">
                                            </div>
                                        </div>


                                        <div class="col-2 price">
                                            <div class="form-group">
                                                <label style="font-weight: bold">가격 (만원)</label>
                                                <input type="number" class="form-control price"
                                                       name="priceDto.price"
                                                       placeholder="가격 (만원)" value="100000000">
                                            </div>
                                        </div>


                                        <div class="col-2 deposit" style="display:none">
                                            <div class="form-group">
                                                <label style="font-weight: bold">보증금 (만원)</label>
                                                <input type="number" class="form-control deposit"
                                                       name="priceDto.deposit"
                                                       placeholder="보증금 (만원)" value="10000000">
                                            </div>
                                        </div>

                                        <div class="col-2 monthly" style="display:none">
                                            <div class="form-group">
                                                <label style="font-weight: bold">월세 (만원)</label>
                                                <input type="number" class="form-control monthly"
                                                       name="priceDto.monthly"
                                                       placeholder="월세 (만원)" value="7000000">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">관리비 (만원)</label>
                                                <input type="number" class="form-control"
                                                       name="costDto.totalCost"
                                                       placeholder="관리비 (만원)" value="50000">
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="form-group">
                                                <label style="font-weight: bold">관리비 기타 항목</label>
                                                <input type="text" class="form-control"
                                                       name="costDto.costContent"
                                                       placeholder="관리비 기타 항목" value="전기, 수도, 가스 별도">
                                            </div>
                                        </div>


                                        <div class="col-12">
                                            <label style="font-weight: bold">관리비 포함 항목</label>
                                        </div>

                                        <div class="col-12">
                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.electricity">
                                                        <label class="form-check-label">전기세</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.gas">
                                                        <label class="form-check-label">가스비</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.water">
                                                        <label class="form-check-label">수도세</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.costTv">
                                                        <label class="form-check-label">TV</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.internet">
                                                        <label class="form-check-label">인터넷</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.costParking">
                                                        <label class="form-check-label">주차비</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-secondary form-check-glow"
                                                               name="costDto.etc">
                                                        <label class="form-check-label">기타</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>


                                        <div class="col-12">
                                            <label style="font-weight: bold">가능 여부</label>
                                        </div>

                                        <div class="col-12">
                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-primary form-check-glow"
                                                               name="elevator">
                                                        <label class="form-check-label">엘레베이터</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-primary form-check-glow"
                                                               name="pet">
                                                        <label class="form-check-label">애완동물</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-primary form-check-glow"
                                                               name="parking">
                                                        <label class="form-check-label">주차</label>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="d-inline-block me-2 mb-1">
                                                <div class="form-check">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox"
                                                               class="form-check-input form-check-primary form-check-glow"
                                                               name="loan">
                                                        <label class="form-check-label">대출</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </div>


                                    </div>

                                    <div class="col-12">
                                        <label style="font-weight: bold">옵션</label>
                                    </div>
                                    <div class="col-12">
                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.tv">
                                                    <label class="form-check-label">TV</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.airConditioner">
                                                    <label class="form-check-label">에어컨</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.refrigerator">
                                                    <label class="form-check-label">냉장고</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.washer">
                                                    <label class="form-check-label">세탁기</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.dryer">
                                                    <label class="form-check-label">건조기</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.induction">
                                                    <label class="form-check-label">인덕션</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.gasStove">
                                                    <label class="form-check-label">가스레인지</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.sink">
                                                    <label class="form-check-label">싱크대</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.desk">
                                                    <label class="form-check-label">책상</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.bookshelf">
                                                    <label class="form-check-label">책장</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.bed">
                                                    <label class="form-check-label">침대</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.closet">
                                                    <label class="form-check-label">옷장</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.dishwasher">
                                                    <label class="form-check-label">식기세척기</label>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="d-inline-block me-2 mb-1">
                                            <div class="form-check">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox"
                                                           class="form-check-input form-check-secondary form-check-glow"
                                                           name="optionDto.shoeRack">
                                                    <label class="form-check-label">신발장</label>
                                                </div>
                                            </div>
                                        </li>
                                    </div>


                                    <div class="col-12">
                                        <div class="form-group fileForm custom-control">
                                            <label style="font-weight: bold">Image Files</label>
                                            <div class="custom-file-input-group">
                                                <div class="filepond--root multiple-files-filepond filepond--hopper custom-file-input-zone"
                                                     data-style-button-remove-item-position="left"
                                                     data-style-button-process-item-position="right"
                                                     data-style-load-indicator-position="right"
                                                     data-style-progress-indicator-position="right"
                                                     data-style-button-remove-item-align="false"
                                                     style="height: 100px; background-color: rgba(219, 219, 219, 0.3); border-radius: 10px; z-index: 1">
                                                    <div class="filepond--drop-label"
                                                         style="transform: translate3d(0px, 0px, 0px); opacity: 1;">

                                                        <input type="file"
                                                               class="filepond--browser custom-file-input custom-file-input files"
                                                               id="filepond--browser-81r65xb82"
                                                               aria-controls="filepond--assistant-81r65xb82"
                                                               aria-labelledby="filepond--drop-label-81r65xb82"
                                                               accept="" multiple="">
                                                        <label for="filepond--browser-81r65xb82"
                                                               id="filepond--drop-label-81r65xb82" aria-hidden="true">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">파일을 끌어다 놓기
                                                                    또는 </font>
                                                            </font>
                                                            <span class="filepond--label-action" tabindex="0">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">찾아보기</font>
                                                        </font>
                                                    </span>
                                                        </label>
                                                    </div>

                                                    <div class="uploadResult" style="z-index: 2">
                                                        <ul>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="box">

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="content" placeholder="매물에 대한 설명을 써주세요."
                                                      style="margin-top: 1em; margin-bottom: 1em; height: 77px;"></textarea>
                                            <label style="font-weight: bold">Comments</label>
                                        </div>
                                    </div>

                                    <div id="map" style="width: 500px; height: 400px">

                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1 rounded-pill">
                                            Reset
                                        </button>
                                        <button type="submit" class="btn btn-primary me-1 mb-1 submitBtn rounded-pill">
                                            Submit
                                        </button>
                                        <a th:href="@{/house/list}">
                                            <button type="button" class="btn btn-secondary me-1 mb-1 rounded-pill">
                                                List
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </th:block>
</th:block>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=546ca95baaee220f9bd82f6ddfd77603&libraries=services"></script>
<script>

    $(document).ready(function () {

        var contractType = $("#contractType");
        var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
        var maxSize = 10485760; // 10MB
        var fileZone = $(".custom-file-input-zone");
        var form = $("#inputForm");

        var addressSearchBtn = $("#addressSearchBtn");

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);
        var geocoder = new kakao.maps.services.Geocoder();


        addressSearchBtn.on("click", function (event){

            var address = $("#address");
            //상세주소 빈칸처리 필요

            geocoder.addressSearch(address.val(), function(result, status) {

                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });
                    marker.setMap(map);
                    map.setCenter(coords);
                }else{
                    Swal.fire({
                        icon: 'warning',
                        title: '주소를 다시 확인해주세요.',
                        showConfirmButton: true,
                        timer: 1500
                    }).then(result => {
                        address.val('');
                        // 상세주소 빈칸 처리 필요
                    })
                }
            });
        });


        contractType.on("change", function (event) {
            var contractTypeValue = contractType.val();

            if (contractTypeValue == '월세') {
                $(".price").hide();
                $(".monthly").show();
                $(".deposit").show();
            } else {
                $(".monthly").hide();
                $(".deposit").hide();
                $(".price").show();
            }
        });


        fileZone.on("dragenter dragover", function (event) {
            event.preventDefault();
            $(this).css('border', '2px solid rgba(26, 26, 26, 0.8)').css('background',
                'rgba(219, 219, 219, 1)');
        });

        fileZone.on("drop dragleave", function (event) {
            $(this).css('border', '2px dotted rgba(26, 26, 26, 0.8)').css('background',
                'rgba(219, 219, 219, 0.6)');
        });

        fileZone.on("drop", function (event) {
            console.log("drop event");
            event.preventDefault();
            $(this).css('border', '0px').css('background',
                'rgba(219, 219, 219, 0.3)');
            var files = event.originalEvent.dataTransfer.files;
            uploadFile(files);
        });


        $(".custom-file-input").on("change", function () {

            var inputFile = $(this);
            var files = inputFile[0].files;
            uploadFile(files);

        });


        function uploadFile(files) {

            var formData = new FormData();
            var appended = false;

            for (var i = 0; i < files.length; i++) {

                if (!checkExtension(files[i].name, files[i].size)) {
                    return false;
                }

                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
                appended = true;
            }

            if (!appended) {
                return;
            }

            $.ajax({
                url: '/uploadAjax',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    showResult(result);
                },
                error: function (jpXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            }); // end ajax
        }; // end uploadFile

        function checkExtension(fileName, fileSize) {
            if (fileSize >= maxSize) {
                alert("파일 사이즈 초과");
                return false;
            }

            if (regex.test(fileName)) {
                alert("해당 종류의 파일은 업로드할 수 없습니다.");
                return false;
            }
            return true;
        } // end checkExtension


        function showResult(uploadResultArr) {

            $(".filepond--root").css({"height": "250px"});

            var uploadUL = $(".uploadResult ul");
            var str = "";

            $(uploadResultArr).each(function (i, obj) {
                str += "<li data-name ='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                str += "<div>";
                str += "<button type='button' data-file=\'" + obj.imageURL + "\' class='btn btn-outline-dark btn-sm fileDeleteBtn' style='float: right'>X</button>";
                str += "<img src ='/display?fileName=" + obj.thumbnailURL + "'>";
                str += "</div>";
                str += "</li>";
            });
            uploadUL.append(str);
        } // end showResult


        $(".uploadResult ").on("click", ".fileDeleteBtn", function (e) {

            console.log("delete file");

            var targetFile = $(this).data("file");
            var targetLi = $(this).closest("li");

            $.ajax({
                url: '/removeFile',
                data: {fileName: targetFile},
                dataType: 'text',
                type: 'POST',
                success: function (result) {
                    targetLi.remove();
                }
            }); // end ajax


        });


        // 해결해야함 ! - submit 시 moveInDate이 comment 하단에 html 추가됨


        $(".submitBtn").on("click", function (e) {

            /*
            var moveInDate = $('#moveInDate').val();
            var comletionDate = $('#comletionDate').val();

            form.append(moveInDate);
            form.append(comletionDate);

             */

            e.preventDefault();

            var str = "";

            $(".uploadResult li").each(function (i, obj) {
                var target = $(obj);

                str += "<input type='hidden' name='imageDTOList[" + i + "].imageName' value='" + target.data('name') + "'>";
                str += "<input type='hidden' name='imageDTOList[" + i + "].path' value='" + target.data('path') + "'>";
                str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='" + target.data('uuid') + "'>";
            });

            $(".box").html(str);

            form.submit();
        });


        /*
           $('.submitBtn').click(function (){
               var moveInDate = $('#moveInDate').val();
               var comletionDate = $('#comletionDate').val();

               form.append(moveInDate);
               form.append(comletionDate);

               //form.submit();
           });

            */

    });

</script>
